h2 {
       color: brown;
}

body {background: url(pg.jpg);
	background;
}

.heading {
	background-color: white;
	font-weight: 900;
    font-size: 48px;
}

.logo {
	text-align: center;
}	

section {
	background-color: white;
}
	